.DocContainer {
    display:flex;
    justify-content: center; /* Centers children horizontally */
    align-items: center; /*Centers children vertically */
    height: 1000px; /* Provides the container with a height to center within */
    background-color: #f9fbfd;
    overflow-y: auto;

}

.DocBody{
    width:60%;
    height:90%;
    border: 2px solid #c8c8c8;
    min-width: 700px;
    overflow: hidden;
}