.fullHeaderContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.fullHeaderItem, .leftSideHeaderItem, .rightSideHeaderContainer{
    display: inline-block;
}

.leftSideHeaderContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.rightSideHeaderContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.headerStackContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding-left: 20px;
}

.logo {
    height: 80px;
}